body {
  background-color: #ffb6c1;
  color: #000000;
  font-family: Optima, sans-serif;
  Margin: 10% 20%;
}



.exp-header {
  border-top: 2px dotted solid #000000;
  border-bottom: 2px dotted solid #000000;
  border-style: dotted solid
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  background-color:rgba (210,180,140)
}

h1{
  border-bottom: 2px outset;
  border-top: 2px outset;
}

h4{
  border-bottom: 2px solid;
  border-top: 2px solid;
}

h5{
  border-bottom: 1px dashed;
}

h6{
  border-top:1px dotted;
}
